/*********

FOR SUBPAGE !!!

*********/

/********* Body *********/
body {
    background-image: url("https://swirl.neocities.org/images/bg/pawbgs.png");
    background-size: auto;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    cursor: url("https://swirl.neocities.org/gallery/sunflowercursor1.png"), auto;
}

a, button:hover {
    cursor: url("https://swirl.neocities.org/gallery/sunflowercursor1.png"), auto;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #d04479;
    cursor: url("https://swirl.neocities.org/gallery/sunflowercursor2.png"), auto;
}

p {
    font-family: Ms Ui Gothic, 'Times New Roman', Times, serif;
}

/********* For the whole page *********/
#page {
    background-color: #f8f8f0;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 800px;
    padding: 20px;

    border: 5px ridge pink;
    border-radius: 30px;
}

/********* Header styling *********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: pink;

    transition: 0.3s ease, opacity 0.3s ease;
}

/********* Newspaper Title *********/
#headerimg {
    width: 20%;
    height: auto;
    transition: opacity 0.3s ease;
}

h1 {
    margin-top: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 36px;

    color: rgb(197, 91, 126);
    line-height: 1;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(197, 91, 126);
}

/********* Date *********/
#date {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    text-align: right;

    color: #d04479;
    transition: opacity 0.3s ease;
}

/********* Article image *********/
#top-image {
    margin-top: 30px;
}

#top-image img {
    width: 100%;
    height: auto;
    display: block;

    border: 2px solid #fbfdff;
    border-radius: 10px;
}

/********* Article Contents *********/
main {
    padding: 20px;
}

article {
    font-family: Ms Ui Gothic;
    line-height: 1.6;
    color: #5d5d5d;
}

/********* Footer *********/
footer {
    text-align: center;
    margin-top: 20px;
}

/********* Back to home button *********/
.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;

    transition: transform 0.2s ease, background-color 0.3s ease;

    width: 10%;
    margin: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 17px;
    border: #dd658b;

    display: inline-block;

    color: #f7c9da;
    font-size: 20px;
    font-weight: bold;
    font-family: ms pgothic;
    text-shadow:
        2px 1px 1px #dd658b,
        1px -2px 0 #dd658b,
        -1px 1px 0 #dd658b,
        -1px -1px 0 #dd658b,
        1px 0px 0 #dd658b,
        0px 2px 0 #dd658b,
        -2px 0px 0 #dd658b,
        0px -2px 0 #dd658b,
        2px 2px 2px rgba(221, 101, 139, 0);
    filter: drop-shadow(1px 1px 1px white);

    box-shadow: -1px -1.4px 1px inset #9e9699, 2px 3px 1.5px inset white,
      0px 0px 2px #aba4a6;

    background-image: url("https://swirl.neocities.org/gallery/checks_a04s.gif");
    text-align: center;

    cursor: url("https://swirl.neocities.org/gallery/sunflowercursor2.png"), auto;
}

/********* Button animation *********/
.back-button:active {
    transform: scale(0.95);
    background-color: #121416;
    cursor: url("../css-files/cursors/darkcursor2.png"), auto;
}

/********* Control Panel *********/
.controlPanel {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    text-align: center;
    margin-top: 1rem;
    width: 50rem;
    align-items: center; 
    position: fixed;
    bottom: 0;

    background-color: #f8f8f0;
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);

    border: 2px ridge pink;
    border-radius: 30px;
}

.controlPanel button {
    width: 30%;
    margin: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 17px;
    border: #dd658b;

    display: inline-block;

    color: #f7c9da;
    font-size: 20px;
    font-weight: bold;
    font-family: ms pgothic;
    text-shadow:
        2px 1px 1px #dd658b,
        1px -2px 0 #dd658b,
        -1px 1px 0 #dd658b,
        -1px -1px 0 #dd658b,
        1px 0px 0 #dd658b,
        0px 2px 0 #dd658b,
        -2px 0px 0 #dd658b,
        0px -2px 0 #dd658b,
        2px 2px 2px rgba(221, 101, 139, 0);
    filter: drop-shadow(1px 1px 1px white);

    box-shadow: -1px -1.4px 1px inset #9e9699, 2px 3px 1.5px inset white,
      0px 0px 2px #aba4a6;

    background-image: url("https://swirl.neocities.org/gallery/checks_a04s.gif");
    text-align: center;

    cursor: url("https://swirl.neocities.org/gallery/sunflowercursor2.png"), auto;
}

/******** Pop Up Menu Elements *********/
.popupMenu {
    display: none;
    position: fixed;
    width: 20rem;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: #f8f8f0;
    border: 4px ridge pink;
    border-radius: 20px;
    padding: 20px;
    z-index: 11;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popupMenu .closeBtn {
    float: right;

    background-color: #dd658b;
    color: white;
    border: 2px ridge pink;
    border-radius: 7px;
    padding: 8px 12px;
    
    cursor: url("https://swirl.neocities.org/gallery/sunflowercursor2.png"), auto;
}

.popupMenu label {
    font-family: Ms Ui Gothic, sans-serif;
    font-size: large;
    text-align: center;
    font-weight: 500;
    color: #dd658b;
    cursor: url("https://swirl.neocities.org/gallery/sunflowercursor1.png"), auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/* Miscellaneous / Theme Exclusive */
::selection {
    color: #ed6887;
    background-color: #ffc4d2;
}

/********* Miscellaneous / Theme Exclusive *********/
::selection {
    color: #ed6887;
    background-color: #ffc4d2;
}
